<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { css }) %>
  <body>
    <h1><%= text %></h1>
    <hr />
    <h2>Users:</h2>
    <ul>
      <% messages.map(message => { %>
      <li>
        <p>User: <%= message.user%></p>
        <p>Message: <%= message.text%></p>
        <p>Added on <%= message.added%></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
