<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { css }) %>
  <body>
    <h1>Users:</h1>
    <ul>
      <% messages.map((message, index) => { %>
      <li>
        <p>User: <%= message.user%></p>
        <p>Message: <%= message.text%></p>
        <p>Added on <%= message.added%></p>
      </li>
      <a href="/message/<%= index%>">View message</a>
      <hr />
      <% }) %>
    </ul>
    <a href="/new">Add message</a>
  </body>
</html>
